body {
  width: 100%;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
input,
button {
  margin: 0;
  padding: 0;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
html,
body{
  height: 100%;
  overflow:auto;
}
body {
  background: #eee;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
}
#container{
	width:100%;
	height:800px;
	margin:0;
	padding:0;}
#experience{
	background-color:#eee;
	padding:0px;
	margin:0px;
	height:auto;}
#showworks{
	background-color:#eee;
	padding:0px;
	margin:0px;
	height:400px;}

#header {
  width:27%;
  height: 300px;
  float:left; 
  border:0;
  padding:10px 10px;
}
#header：after{
	content:"";
	display:block;
	height:0px;
	clear:both;}
#header:before,
#header:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 40px;
}
/*#header:before {
  top: 0;
  background: -webkit-linear-gradient(rgba(0,0,0,0.2), transparent);
  background: -moz-linear-gradient(rgba(0,0,0,0.2), transparent);
  background: -ms-linear-gradient(rgba(0,0,0,0.2), transparent);
  background: linear-gradient(rgba(0,0,0,0.2), transparent);
}
#header:after {
  bottom: 0;
  background: -webkit-linear-gradient(transparent, rgba(0,0,0,0.2));
  background: -moz-linear-gradient(transparent, rgba(0,0,0,0.2));
  background: -ms-linear-gradient(transparent, rgba(0,0,0,0.2));
  background: linear-gradient(transparent, rgba(0,0,0,0.2));
}*/
#header-outer {
  height: 100%;
  position: relative;
}
#header-inner {
  position: relative;
  overflow: hidden;
}

#header-title {
  text-align: center;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -20px;
}
#logo,
#subtitle {
  text-decoration: none;
  color: #333;
  font-weight: 300;
  text-shadow: 0 1px 4px rgba(0,0,0,0.3);
}
#logo {
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 2px;
}
#subtitle {
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 1px;
}
#subtitle-wrap {
  margin-top: 16px;
}


#main{
	width: 69%;
	float:right;
	margin:0;
	padding-top:30px;}
.title-main {
    display: block;
    margin-bottom: 10px;
    font-size: 24px;
}
.article {
  margin: 50px 0;
}




.article-title {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #69F;
  line-height: 1.5em;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
}
a.article-title:hover {
  color: #258fb8;
}
#footer{
	background-color:#000;
padding:10px 0;
color:#999;
border-top::1px solid #ddd;}
#footer-info {
  line-height: 1.6em;
  font-size: 0.85em;
}
.foot-outer{
  max-width: 1220px;
  margint:0;
  padding: 20px 20px;
  vertical-align:baseline;
	}
.foot-outer:before{
	content:"";
	display:table;}